* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9a9afe;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.main-heading {
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
}

.input {
  width: 400px;
  border-radius: 6px;
  border-width: 0px;
  height: 40px;
  padding: 4px 10px;
  box-shadow: 2px 5px 12px 5px #00000020;
}

.search-btn {
  background-color: #f67732;
  width: 120px;
  height: 36px;
  padding: 5px 10px;
  border-radius: 6px;
  border-width: 0px;
  color: #fff;
  box-shadow: 2px 5px 12px 5px #00000030;

}

.data-container{
    height: 130px;
    width: 400px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #fff;
    color: #000;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    
}

.city{
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}

.temp{
    font-size: 26px;
    font-weight: 600;
    margin-top: 8px;
}
